:root {
    --primary-color: #191919;
    --secondary-color: #2D4263;
    --text-color: #FF9F29;
    --link-color: #C7C7A4;
}

html {
    overflow: auto !important;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
}


/*
 *  SCROLLBAR
 */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: var(--primary-color);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--text-color);
}